body{
     background: linear-gradient(orangered, black 20%);
   
}

#wrapper{
}
#header{
     
    
    border: white solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px;
    margin-bottom: 0px;
}
#header>img{
    margin-left: 1000px;
}
#header>h1{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: all-small-caps;
}
#header>h4{
    display: inline;
    color: white;
    text-transform: lowercase;
    font-size: 24px;
    position: relative;
   
}
#header>#img{
 display: inline;
}
#header>#more{
    
   background-color: white;
        border: orangered solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
          margin-left: 995px; 
       position: absolute;
       top: 20px;
       right: 20px;
       font-style: italic;
       font-size: 24px;
}
#menu{
    margin-right: 413px;
     background: linear-gradient(orangered, black 25%);
    
    border: white solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 0px;
    
}
#menu>li{
    display: inline;
    padding: 0px 10px;
    
    
}
#menu>li>a{
    color: white;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: dotted black 2px;
}

#menu>li>#selected{
    background: orangered;
    color: white;
}
#news{
    color:white;
    
}
#news>#title{
     background: linear-gradient(orangered, black 45%);
    border:orangered solid 5px;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 850px;
}
#news>li{
    color: orangered;
   font-size: 24px;
    font-style: normal;
}
#img1{
    
     margin-left: 250px;
    display: inline;
    position: relative;
     padding: 0px 10px;
     color: white;
     font-size: 24px;
}
#img1>#note{
    font-style: italic;
   color: white;
     font-size: 24px; 
   position: relative;
   left: 590px;
   top: 30px;
   
}
#his{
    color: white;
    margin-left: 400px;
    position: relative;
    left: -150px;
    top: 200px;
}
#his>pre{
     position: relative;
   left: 380px;
   top: -135px;
   font-size: 24px;
}
#sponcers{
    color: white;
    font-size: 32px;
    
     background: linear-gradient(orangered, black 5%);
    border:white solid 5px;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 970px;
    position: relative;
    left: 950px;
    top: -500px;
}
#sponcers2{
    color: white;
    font-size: 32px;
    
     background: linear-gradient(orangered, black 5%);
    border:white solid 5px;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 970px;
    position: relative;
    left: 950px;
    top: -3250px;
}
#sponcers3{
    color: white;
    font-size: 32px;
    
     background: linear-gradient(orangered, black 5%);
    border:white solid 5px;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 970px;
    position: relative;
    left: 950px;
    top: -2650px;
}
#event{
    color: white;
  
}
#event>h1{
    color: white;
    background: linear-gradient(orangered, black 35%);
    border:white solid 5px;
      border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 950px;
    
}
#wrapper>#top>a{
     position: relative;
    left: 1150px;
    top: -800px;
    font-size: 30px;
}
#text{
font-size: 18px;
    color: white;
     border:white solid 5px;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   margin-right: 935px;
   position: relative;
   top: -3898px;
   
}
#color{
    color: white;
}
#top1{
    font-size: 30px;
    position: relative;
    top: -200px;
}
    
    
