body{
     background: linear-gradient(blue, black 5%);
   
}

#wrapper{
  
  
}
#header{
     
    background-color: blue;
    border: white solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px;
    margin-bottom: 0px;
}
#header>img{
    margin-left: 1000px;
}
#header>h1>a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: all-small-caps;
}
#header>h4{
    display: inline;
    color: black;
    text-transform: lowercase;
    font-size: 24px;
    position: relative;
   
}
#header>#img{
 display: inline;
}
#header>#more{
    color: red;
    background: white ;
        border: red solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
          margin-left: 995px; 
       position: absolute;
       top: 20px;
       right: 20px;
}
#menu{
    margin-right: 413px;
    
    background-color: blue;
    border: white solid 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 0px;
    
}
#menu>li{
    display: inline;
    padding: 0px 10px;
    
    
}
#menu>li>a{
    color: white;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: dotted black 2px;
}

#menu>li>#selected{
    background: blue;
    color: black;
}
#news{
    color:red;
    
}
#news>#title{
    border: blue solid 5px;
      border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 850px;
}
#news>li{
    color: red;
   font-size: 24px;
    font-style: normal;
}
#img1{
     margin-left: 250px;
    display: inline;
    position: relative;
     padding: 0px 10px;
}

#his{
    color: white;
    margin-left: 400px;
}